params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/methylseq"

    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // TODO: Add all test data to test_data.config
    test_data {
        'assets' {
                test_samplesheet        = "${params.test_data_base}/samplesheet/samplesheet_test.csv"
        }
        'workflows' {
            'methylseq' {
                fasta       = "${params.test_data_base}/reference/genome.fa"
                fasta_index = "${params.test_data_base}/reference/genome.fa.fai"
            }
        }
    }
}
